body{ color: #343434;
    margin: 0;
    padding: 0 300px;
}


img{
    width: 300px;
}
    
    h1{ 
    font-family: 'Covered By Your Grace', cursive;
    font-size: 100px;
    margin: 20px;
    float: right;
    letter-spacing: 10px;
    
} 
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  
}

header { 
    background-color: #703b54;
    color:#F7FFF7;
    padding: 10px 11px;
}

.projects {
    background: rgb(255, 255, 255);
}
.work-experience { background: #A1C6D7;}
footer{
    background: #343434;
    color:#F7FFF7;
}
a { 
    color: rgb(255, 0, 106);
}
.content-wrap{
    width: 1200px;
    margin: 0 auto;
}